.app-container {
  position: relative;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;

  .top-section {
    background-color: #fff;
    padding: 0.8rem 0;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .top-search {
      margin-left: 15rem;
      position: relative;

      input {
        width: 200px;
        height: 35px;
        border: 1px solid #ccc;
        outline: none;
        padding-left: 0.6rem;
        border-radius: 1rem;
      }

      .search-icon {
        font-size: 1.3rem;
        color: #ccc;
        position: absolute;
        top: 7px;
        left: 10.5rem;
        cursor: pointer;
      }

      @media screen and (max-width: 428px) {
        margin-left: 0;
      }
    }
  }

  .bottom-section {
    margin-top: 2rem;

    .blog-title {
      position: relative;
      display: flex;
      align-items: center;

      .reset-filtering {
        left: -3.8rem;
        position: absolute;
        font-size: 2.5rem;
        cursor: pointer;
      }

      &.categorized {
        margin-left: 4.5rem;
        transition: 100ms ease-in-out;
      }
    }

    .blog-categories {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 1.8rem;

      @media screen and (max-width: 810px) {
        flex-direction: column;
      }
    }
  }

  @media screen and (max-width: 810px) {
    width: 95%;
  }
}
